{% extends 'classifieds/listings_base.html' %}

{% load bootstrap3 %}
{% load cache %}
{% block content %}



<div id="topban">{{ user.profile.city }}</div>

<div id="leftbar">
<a id="logo" href="{% url 'classifieds:city_list' %}">fredslist</a>

<ul id="navlinks">
    <li><a href="{% url 'classifieds:new_listing' %}">post to classifieds</a></li>

    <li><a href="{% url 'userprofiles:user_listings' %}">my account</a></li>
</ul>
</div>

{% cache 360 category_list %}
<div id="center">
<div id="communityhousingjobs">
    <div id="communitycontainer">
    <div id="community">
    <a href="{% url 'classifieds:category_listings' community_category.id %}">{{ community_category.name }}</a>
    </div>
    <ul id="insidecommunity">
    {% for subcategory in community_category.subcategories.all %}
    <li><a href="{% url 'classifieds:subcategory_listings' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
    </ul>
    </div>
    <div id="housingcontainer">
    <div id="housing">
    <a href="{% url 'classifieds:category_listings' housing_category.id %}">{{ housing_category.name }}</a>
    </div>
    <ul id="insidecommunity">
    {% for subcategory in housing_category.subcategories.all %}
    <li><a href="{% url 'classifieds:subcategory_listings' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
    </ul>
     <div id="community">
    <a href="{% url 'classifieds:category_listings' forsale_category.id %}">{{ forsale_category.name }}</a>
    </div>
    <ul id="insidecommunity">
    {% for subcategory in forsale_category.subcategories.all %}
    <li><a href="{% url 'classifieds:subcategory_listings' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
    </ul>
    <div id="community">
    <a href="{% url 'classifieds:category_listings' services_category.id %}">{{ services_category.name }}</a>
    </div>
    <ul id="insidecommunity">
    {% for subcategory in services_category.subcategories.all %}
    <li><a href="{% url 'classifieds:subcategory_listings' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
    </ul>

    </div>
<div id="jobscontainer">
    <div id="community">
    <a href="{% url 'classifieds:category_listings' jobs_category.id %}">{{ jobs_category.name }}</a>
    </div>
    <ul id="insidecommunity">
    {% for subcategory in jobs_category.subcategories.all %}
    <li><a href="{% url 'classifieds:subcategory_listings' subcategory.id %}">{{ subcategory.name }}</a></li>
    {% endfor %}
    </ul>
</div>
</div>
{% endcache %}

{% cache 360 city_list %}
</div>
    <div id="citydiv">
    <ul id="citylist">

    {% for city in city_list %}

     <li>   <a href="{% url 'redirect_city' city.pk %}"> {{ city.name }}</a></li>

    {% endfor %}

    </ul>
    </div>

{% endcache %}

{% endblock %}