{% extends 'classifieds/listings_base.html' %}

{% load bootstrap3 %}

{% block content %}

    {% if not listing_list %}

        no posts here

    {% endif %}

    {% for listing in subcategory.price_desc %}

    {{ listing.title }}
    {% endfor %}

    <ul>
    {% for listing in listing_list %}


        <li>{{ listing.created_at|date:"M d" }} <a href="{% url 'classifieds:listing_detail' listing.id %}">{{ listing.title }} {{ listing.price }}</a></li>

    {% endfor %}
    </ul>
{% endblock %}
