{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fred's List Account{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>




    {% if user.is_authenticated %}

    <p align="center">
    [
    <a href="{% url 'logout' %}">sign out</a>
    ]</p>
    {% else %}
        <p align="center">[<a href="{% url "login" %}">login</a>]
        </p>

    {% endif %}

    <p><a href="{% url 'index' %}">fredslist</a> >
        <a href="{% url 'user_listings' %}">home of {{ user.username }}</a></p>
    <ul class="nav nav-tabs">
    <li role="presentation" class="{% block userlistingsactive %}{% endblock %}"><a href="{% url 'user_listings' %}">postings</a></li>
    <li role="presentation" class="{% block settingsactive %}{% endblock %}"><a href="{% url 'update_profile' user.profile.id %}">settings</a></li>
    </ul>

{% block content %}


{% endblock %}
</body>
</html>