{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fred's List Account{% endblock %}</title>
    {% bootstrap_css %}
    <script src="{% bootstrap_jquery_url %}"></script>

    {% bootstrap_javascript %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />


</head>
<body>




    {% if user.is_authenticated %}
    <header id="userhead">
    <div id="userheader">

        <div id="homeorprofile"><a href="{% url 'index' %}">fredslist</a> >
        <a href="{% url 'userprofiles:user_listings' %}">home of {{ user.username }}</a>
        </div>

        <div id="logoutbutton">
            [ <a href="{% url 'logout' %}">sign out</a> ]</div>
    {% else %}
        <div id="loginbutton"> [<a href="{% url "login" %}">login</a>]</div>


    {% endif %}
    </div>

    <div id="usertabs">
    <ul class="nav nav-tabs">
    <li role="presentation" class="{% block userlistingsactive %}{% endblock %}"><a href="{% url 'userprofiles:user_listings' %}">postings</a></li>
    <li role="presentation" class="{% block settingsactive %}{% endblock %}"><a href="{% url 'userprofiles:update_profile' user.profile.id %}">settings</a></li>
    </ul></div></header>

{% block content %}


{% endblock %}
</body>
</html>